<div class="comments">
  {{#each comments}}
  <section class="comment">
    <div class="text">
      <div class="meta">
        {{user.username}} on {{format_date created_at}}
      </div>
      {{#if ../loggedIn}}
      <input class="border" name="comment" type="text" data-id="{{id}}" value="{{comment_text}}" />
      <button type="button" class="edit-comment-btn mt-2 font-weight-light" data-id="{{id}}">Edit</button>
      <button type="button" class="delete-comment-btn mt-2 font-weight-light" data-id="{{id}}">Delete</button>
      {{else}}
      {{comment_text}}
      {{/if}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>
{{/if}}